@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.eot') format('eot'),
         url('../fonts/CeraPro-Black.ttf') format('ttf'),
         url('../fonts/CeraPro-Black.woff') format('woff'),
         url('../fonts/CeraPro-Black.woff2') format('woff2'),
    ;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.eot') format('eot'),
         url('../fonts/CeraPro-Bold.ttf') format('ttf'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.woff2') format('woff2'),
    ;
}
@font-face {
    font-family: "Cera Pro Light";
    src: url('../fonts/CeraPro-Light.eot') format('eot'),
         url('../fonts/CeraPro-Light.ttf') format('ttf'),
         url('../fonts/CeraPro-Light.woff') format('woff'),
         url('../fonts/CeraPro-Light.woff2') format('woff2'),
    ;
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.eot') format('eot'),
         url('../fonts/CeraPro-Medium.ttf') format('ttf'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    ;
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.eot') format('eot'),
         url('../fonts/CeraPro-Regular.ttf') format('ttf'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    ;
}