/* HTML: <div class="loader"></div> */
.preloader {
 position: fixed;
 inset: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 background: #fff;           /* колір фону під час завантаження */
 color: #fff;
 z-index: 10;
 transition: opacity 400ms ease, visibility 400ms ease;
}   
.preloader.hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #46A358 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

/* Заховати вміст сторінки поки прелоадер активний */
.page {
 visibility: hidden;
 opacity: 0;
 transition: opacity 300ms ease, visibility 300ms ease;
}
.page.visible {
 visibility: visible;
 opacity: 1;
}

