/* для загального блоку магазину */
.containerForShopContent{
    padding: 170px 120px 50px;
    display: flex;        
    gap: 50px; 
}


/* лівий блок магазину */
.leftShopPanel{
    display: flex;
    flex-direction: column;
    /* для розділення контенту по висоті */
    justify-content: space-between;
    max-width: 300px;
}
/* блок навігаціїї по категоріям */
.categoriesPanel
{
    display: flex;
    flex-grow: 1;
    background-color: #FBFBFB;        
}
/* блок категорій */
.categories{
    padding: 13px 0px 0px 28px;  
    display: flex;
    flex-direction: column;    
    gap: 14px;
}
/* шрифт для заголовку */
.categories span.infoCat{
    color: #3D3D3D;    
    font-size: 18px;    
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
/* шрифт для категорій */
.categories li.categori{
    color: #3D3D3D;    
    font-size: 15px;    
    font-weight: 400;
    line-height: 40px;
}
/* обрана категорія */
.categories li.categori.activeCategori{
    color: #46A358;
    font-style: normal;
    font-weight: 700;    
}
/* блок реклами */
.imgBigSale{    
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
}
/* напис розпродажу */
.imgBigSale span.superSale{
    color: #46A358;
    /* інший шрифт */
    font-family: "Hanging Letters";
    font-size: 65px;
    /* по центру */
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 100% */   

    /* відступ для зелених ліній від шрифту */
    padding-top: 17px;

    padding-bottom: 13px;
}
/* напис знижку */
.imgBigSale span.discount{
    color: #3D3D3D;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 16px; /* 69.565% */
}


/* правий блок магазину */
.rightShopPanel{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* для хідера магазину */
.navANDsort{
    display: flex;
    justify-content: space-between;   
}
/* навігація */
.navShop{
    display: flex;    
    gap: 40px;
}
/* категорії */
.shopCat{
    padding-bottom: 7px;    
    border-bottom: 3px solid transparent;
}
/* активна категорії */
.active{
    border-color: #46A358;
    font-weight: 700;
}
/* сортування */
.sort{
    color: #3D3D3D;    
    font-size: 15px;   
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

/* магазин */
.shop{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: space-between;   
}
/* картка продукти */
.cardProduct{
    display: flex;
    flex-direction: column;   
}
/* картинка продукту */
.cardProduct img{
    /* однакова ширина та висота для всіх продуктів */
    width: 280px;
    height: 280px;
    /* фон */
    background-color: #FBFBFB;

    display: flex;
    /* центруємо картинку */
    align-items: center;       
    justify-content: center;
    /* ховає все, що вилізе за межі */  
    overflow: hidden;

    max-width: 100%;           
    max-height: 100%;
    /* щоб картинка не спотворювалася */             
    object-fit: contain;
}
/* для назви продукта */
.cardProduct span.nameProduct{   
    padding-top: 12px;
    padding-bottom: 6px;

    color: #3D3D3D;    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
/* для ціни продукта */
.cardProduct span.priceProduct
{
    color: #46A358;    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

/* окремий блок для навігації по сторінкам */
.pages{
    /* для відступу від блоку магазину */
    margin-right: 120px;
    margin-bottom: 90px;
    
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
/* кнопка сторінки */
.page{
    /* щоб вирівняти 1-цю з іншими цифрами */
    min-width: 35px;
    
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: white;    
}
.page span.number{
    color: #3D3D3D;    
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */   
}
/* кнопка обраної сторінки */
.page.activePage{ 
    padding: 10px;       
    background-color: #46A358;
    color: #FFF;           
    font-weight: 700;    
}

