.registration{
 max-width: 500px;
 max-height: 646px;
 border: 1px solid #46A358;
 border-bottom: 10px solid #46A358;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.exit{
 cursor: pointer;
 background-color: #FFF;
 padding: 3px;
 margin: 15px;
 align-self: flex-end;   /* тільки ця кнопка піде вправо */
}
.loginAndReg{
 display: flex;
 gap: 12px;
 padding-bottom: 40px;
}
.loginAndReg > span{
 color: #3D3D3D;
 font-size: 20px;
 font-style: normal;
 font-weight: 500;
 line-height: 16px; /* 80% */
}
.loginAndReg > span.and{
 font-size: 18px;
 font-weight: 250;
 line-height: 16px;
}
.loginAndReg > span.greenBoyReg{
 color: #46A358;
}

.mainReg{
 display: flex;
 flex-direction: column;
 gap: 15px;
 min-width: 300px;
}
.mainReg > p{
 color: #3D3D3D;
 font-size: 13px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px; /* 123.077% */
}
.mainReg input{
  color: black;   
  font-size: 14px;   
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  /* Займання всієї ширини форми */
  width:100%;
  /* Покращення рамки */
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  padding: 12px;
}
.mainReg input::placeholder{
 color: #A5A5A5;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px; /* 114.286% */
}

.pssword{
 position: relative;
}
.pssword svg{
 position: absolute;
 top: 30%;
 right: 5%;
}

.registerButton{
 border-radius: 5px;
 background-color: #46A358;  
 flex-shrink: 0;
 /* прибираємо рамку */
 border: none;

 color: #FFF;
 font-family: "Cera Pro";
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 100% */ 

 padding: 14px 0px;
 margin: 20px 0px;
 cursor: pointer;
}

.or{
 color: #3D3D3D;
 font-family: "Cera Pro";
 font-size: 13px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px; /* 123.077% */
 align-self: center;
}
.countinueButton{
 border-radius: 5px;
 border: 1px solid #EAEAEA;
 background: #FFF;
 padding: 10px;

 cursor: pointer;
}

.insideButton{
 display: flex;
 gap: 9px;
 justify-content: center;
 align-items: center;
}

.insideButton span{
 color: #727272;
 text-align: center;
 font-size: 13px;
 font-style: normal;
 font-weight: 500;
 line-height: 16px; /* 123.077% */
}

.end{
 margin-bottom: 40px;
}

/* створення боокових ліній 
знайшов в інтернеті*/
.divider {
 display: flex;
 align-items: center;
 text-align: center;
}
.divider::before,
.divider::after {
 content: "";
 flex: 1;
 border-bottom: 1px solid #EAEAEA; /* колір ліній */
}
.divider:not(:empty)::before {
 margin-right: 0.75em;
}
.divider:not(:empty)::after {
 margin-left: 0.75em;
}




