/* основний контейнер */
.foot{
 padding: 90px 120px 22px 120px;
 display: flex;
 flex-direction: column;
 background-color: #FBFBFB;
}

/* верхній контейнер */
.upFoot{
 padding: 25px;
 display: flex;
 gap: 60px;
}
/* зміст верхнього контейнера */
/* картка з дод інфою */
.infoCardForFoot{
 display: flex;
 flex-direction: column;
 gap: 15px;
 justify-content: space-between;
}
/* блок із SVG зображенням */
.plantImgFoot{
 display: flex;
 flex-direction: column;
 position: relative;

 max-height: 100px;
}
/* спроба прописати зображення через background*/
.plantImgFoot1{
 height: 100px;
 background-image: url(../img/Ellipse\ 9.svg), url(../img/Framedown1.svg), url(../img/Frameup1.svg);
 background-repeat: no-repeat, no-repeat, no-repeat;
 background-position: left bottom, 15px bottom, 14px 5%;
 background-size: auto 70%, auto 50%, auto 50%;
}
.plantImgFoot2{
 height: 100px;
 background-image: url(../img/Ellipse\ 9.svg), url(../img/Framedown2.svg), url(../img/Frameup2.svg);
 background-repeat: no-repeat, no-repeat, no-repeat;
 background-position: left bottom, 15px bottom, 25px 5%;
 background-size: auto 70%, auto 50%, auto 50%;
}
.plantImgFoot3{
 height: 100px;
 background-image: url(../img/Ellipse\ 9.svg), url(../img/Framedown3.svg), url(../img/Frameup3.svg);
 background-repeat: no-repeat, no-repeat, no-repeat;
 background-position: left bottom, 1px bottom, 35px 10%;
 background-size: auto 70%, auto 50%, auto 50%;
}
/* блок інфо після зображення */
.infoFoot{
 display: flex;
 flex-direction: column;
 gap: 9px;
}
.infoFoot > h3{
 color: #3D3D3D;
 font-size: 17px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 94.118% */
}
.infoFoot > p{
 color: #727272;
 font-family: "Cera Pro";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 22px; /* 157.143% */
}
/* блок підписки на розсилку */
.postSubscription{
 display: flex;
 flex-direction: column;
 gap: 25px;
}
.postSubscription > h3{
 color: #3D3D3D;
 font-family: "Cera Pro";
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 88.889% */

 padding-top: 13px;
}
/* блок вводу та затвердження підписки */
.enterEmail{
 display: flex;
}
/* ввід пошти */
.postSubscription input{
 border-radius: 6px;
 background: #FFF;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
 width: 100%;
 padding-left: 11px;

 color: #000;
 font-family: "Cera Pro";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px; /* 114.286% */
}
.postSubscription input::placeholder{
 color: #ACACAC;
 font-family: "Cera Pro";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px; /* 114.286% */
}
/* кнопка реєстрації на розсилку */
.postSubscription button{
 border-radius: 0 6px 6px 0;
 background: #46A358;
 max-width: 85px;
 padding: 12px 25px;
 cursor: pointer;

 color: #FFF;
 font-family: "Cera Pro";
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 88.889% */
}
/* дод інфо */
.postSubscription p{
 color: #727272;
 font-size: 13px;
 font-style: normal;
 font-weight: 400;
 line-height: 22px; /* 169.231% */
}


/* середній котейнер */
.middleFoot{
 padding: 25px 23px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}
/* трохи змінюємо градієнт при наведені */
.middleFoot:hover{
 background: linear-gradient(90deg, #EDF6EF 0%, #52C368 15%, #EDF6EF 100%);
}
/* блоки з контак.інфо */
.contactInfo{
 display: flex;
 align-items: center;
 gap: 9px;
}
.contactInfo > p{
 color: #3D3D3D;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 22px; /* 157.143% */
 
 max-width: 175px;
}


/* нижній котейнер */
.downFoot{
 padding: 30px 25px 30px 25px;

 display: flex;
 gap: 155px;
 /* робимо лінію знизу */
 border-bottom: 1px solid #46a35833;
 justify-content: space-between;
}
/* блок з дод.інфо */
.moreInfo{
 display: flex;
 flex-direction: column;
 gap: 16px;
}
.moreInfo > span{
 color: #3D3D3D;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 88.889% */
 user-select: none;
}
.moreInfo li{
 color: #3D3D3D;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px; /* 214.286% */
 /* ефект наведення */
 cursor: pointer;
 user-select: none;
}
/* зміна шрифту при наведенні */
.moreInfo li:hover{
 color: #46A358;
 font-style: normal;
 font-weight: 500; 
}
/* блок з соц.мережами та іншим*/
.socialMediaAndOther{
 display: flex;
 flex-direction: column;
 gap: 20px;

 padding-bottom: 15px;
 flex-grow: 1;
}
.socialMediaAndOther span{
 color: #3D3D3D;
 font-family: "Cera Pro";
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px; /* 88.889% */
}
/* іконки */
.mediaIcons{
 display: flex;
 gap: 10px;
}
/* трохи змінюємо колір іконок для ефекту наведення */
.mediaIcons > a > svg:hover path{
 fill:#52C368;
}
/* зображення підтримки платежів */
.socialMediaAndOther img{
 max-width: 200px;
}
/* кінець сторінки */
.footer{
 padding-top: 6px;

 color: #3D3D3D;
 font-family: "Cera Pro";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px; /* 214.286% */
 text-align: center;
}

