/* для загального блоку магазину */
.containerForShopContent{
    padding: 170px 120px 50px;
    display: flex;        
    gap: 50px; 
}


/* лівий блок магазину */
.leftShopPanel{
    display: flex;
    flex-direction: column;
    /* для розділення контенту по висоті */
    justify-content: space-between;
    max-width: 300px;
}
/* блок навігаціїї по категоріям */
.categoriesPanel
{
    display: flex;
    flex-grow: 1;
    background-color: #FBFBFB;        
}
/* блок категорій */
.categories{
    padding: 13px 0px 0px 28px;  
    display: flex;
    flex-direction: column;    
    gap: 14px;
}
/* шрифт для заголовку */
.categories span.infoCat{
    margin-left: -5px;
    color: #3D3D3D;    
    font-size: 18px;    
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
/* шрифт для категорій */
.categories li.categori{
    color: #3D3D3D;    
    font-size: 15px;    
    font-weight: 400;
    line-height: 40px;
}
/* обрана категорія */
.categories li.categori.activeCategori{
    color: #46A358;
    font-style: normal;
    font-weight: 700;    
}
/* блок реклами */
.imgBigSale{    
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);

    position: relative;
}
/* напис розпродажу */
.imgBigSale span.superSale{
    color: #46A358;
    /* інший шрифт */
    font-family: "Hanging Letters";
    font-size: 65px;
    /* по центру */
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 100% */   

    /* відступ для зелених ліній від шрифту */
    padding-top: 17px;

    padding-bottom: 13px;
}
/* напис знижки */
.imgBigSale span.discountForImage{
    color: #3D3D3D;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 16px; /* 69.565% */
}
/* декорації для блоку реклами */
.decoration1{
    position: absolute;
    z-index: 2;
    /* практика з відсотками */
    width: 4%;
    height: 3%;
    top: 28%;
    left: 15%;

    border-radius: 29px;
    background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
}
.decoration3{
    position: absolute;
    z-index: 2; 

    width: 14%;
    height: 11%;
    top: 70%;
    left: 80%;

    border-radius: 29px;
    background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
}
.decoration2{
    position: absolute;
    z-index: 2;
    flex: 0 0 auto;

    width: 7%;
    height: 5%;
    top: 65%;
    left: 5%;

    border-radius: 7px;
    border: 2px solid #46A358;
    opacity: 0.2;
}


/* правий блок магазину */
.rightShopPanel{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* для хідера магазину */
.navANDsort{
    display: flex;
    justify-content: space-between;   
}
/* навігація */
.navShop{
    display: flex;    
    gap: 40px;
}
/* категорії */
.shopCat{
    padding-bottom: 7px;    
    border-bottom: 3px solid transparent;
}
/* активна категорія */
.active{
    border-color: #46A358;
    font-weight: 700;
}
/* сортування */
.sort{
    color: #3D3D3D;    
    font-size: 15px;   
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

/* магазин */
.shop{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: space-between;   
}
/* картка продукти */
.cardProduct{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    /* щоб не стрибало при наведені */
    border-top: 2px solid transparent;
    transition: border-color 0.3s ease;
}
/* ефект наведення на товар */
.cardProduct:hover{ 
    /* створення верхньої зеленої стрічки */
    border-top: 2px solid #46A358;
}
/* поява іконок */
.cardProduct:hover .areaForIcon img {
  opacity: 1;
}
.cardProduct:hover .areaForIcon svg {
  opacity: 1;
}

/* зміна кольору іконок при наведенні */
.iconSVG:hover path{
    fill: #46A358;
}
/* налаштування етикетки знижки */
.discount{
  background: #46A358;
  position: absolute;
  z-index: 1;  
  top: 15px;  
}
.discount > span{
    display: inline-block;
    padding: 8px 6px;
    color: #FFF;    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}
/* картинка продукту */
.cardProduct img{
    /* однакова ширина та висота для всіх продуктів */
    width: 280px;
    height: 280px;
    /* фон */
    background-color: #FBFBFB;

    display: flex;
    /* центруємо картинку */
    align-items: center;       
    justify-content: center;
    /* ховає все, що вилізе за межі */  
    overflow: hidden;

    max-width: 100%;           
    max-height: 100%;
    /* щоб картинка не спотворювалася */             
    object-fit: contain;
}
/* простір для іконок */
.areaForIcon{
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    /* трохи дамо вилізти на малюнок */
    margin-top: -5px;
}
/* кластери для іконок */
.areaForIcon > img{
    height: 35px;
    flex: 0 0 auto;
}
/* іконки */
.icons{
    position: absolute;
    z-index: 1;

    display: flex;
    gap: 23px;    
}
/* робимо частину з іконками невидимою*/
.areaForIcon img{
    opacity: 0;
    /* простір виділений тож можна використати даний ефект */
    transition: opacity 700ms ease-in-out 20ms;
}
.areaForIcon svg{
    opacity: 0;
    /* простір виділений тож можна використати даний ефект */
    transition: opacity 700ms ease-in-out 20ms;
}

.icons > svg{
    /* обмежуємо зображення */
    width: 24px;     
    height: 24px;    
    flex: 0 0 auto;
}
/* для назви продукта */
.cardProduct span.nameProduct{   
    padding-top: 12px;
    padding-bottom: 6px;

    color: #3D3D3D;    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
/* для ціни продукта */
.cardProduct span.priceProduct
{
    color: #46A358;    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.originalPrice{
    color: #A5A5A5;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    text-decoration: line-through;
}

/* окремий блок для навігації по сторінкам */
.pages{
    /* для відступу від блоку магазину */
    margin-right: 120px;
    margin-bottom: 90px;
    
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
/* кнопка сторінки */
.page{
    /* щоб вирівняти 1-цю з іншими цифрами */
    min-width: 35px;
    
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: white;    
}
.page span.number{
    color: #3D3D3D;    
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */   
}
/* кнопка обраної сторінки */
.page.activePage{ 
    padding: 10px;       
    background-color: #46A358;
    color: #FFF;           
    font-weight: 700;    
}

